@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;

}

a {
    text-decoration: none;
}

/* Navbar Start */
.navbar-section {
    width: 100%;
    background: #FFFFFF;
    height: 140px;
}

.nav-container {
    width: 1300px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-right-cont {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-right-cont a {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s linear;
}
.nav-right-cont a:hover{
    color: #75BF7A;
}

.nav-btn {
    width: 182px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background: #75BF7A;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    transition: all 0.5s linear;
}

.nav-btn:hover{
    background-color: #000;
    cursor: pointer;
}

.humburger {
    display: none;
}

/* Navbar End */

/* Hero Start */

.main-content {
    width: 100%;
    background: #F9F9F9;
}

.main-container {
    width: 1300px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 150px;
    padding: 50px 0;
}

.hero-left-cont {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 80px;

}

.uppar-hero-left-cont h1 {
    font-size: 60px;
    font-weight: bolder;
    line-height: 65.91px;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

.uppar-hero-left-cont p {
    font-size: 24px;
    color: #9E9DA2;
    line-height: 28px;
}

.lower-hero-left-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.btn {
    padding: 0 35px;
    border-radius: 6px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 24.6px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s linear;
}
.btn:hover{
    background-color: #75BF7A;
    cursor: pointer;
}


.hero-right-cont {
    width: 45%;
}

/* Hero End */

/* Apply Start */

.apply-section {
    width: 100%;
    border-radius: 10px;
    background: #75BF7A;
    height: 150px;
    display: flex;
}

.apply-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 45px 60px;

}

.apply-left-container {
    height: 100%;

}

.apply-left-container h5 {
    color: #fff;
    font-size: 24.6px;
    font-weight: 500;
    line-height: 28px;
}

.apply-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 100%;
}

.apply-right-container input {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    border: none;
}

.apply-right-container input:focus {
    outline: none;
}

.apply-right-container input::placeholder {
    font-size: 20px;
    color: #DADADA;
}

.apply-right-container button {
    width: 45%;
}

/* Apply End */

/* Testimonial Start */
.testimonial-section {
    width: 100%;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uppar-testi-cont {
    width: 40%;
    margin: 150px 0;
    text-align: center;
}

.uppar-testi-cont h5 {
    font-size: 46px;
}

.uppar-testi-cont h5 span {
    color: #75BF7A;
}

.uppar-testi-cont p {
    font-size: 23px;
    color: #9E9DA2;
}

.lower-testi-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 50px;
}

.left-lower-testi-cont {
    width: 40%;
    text-align: end;

}

.center-lower-testi-cont {
    position: relative;
}



#phone {
    position: absolute;
    top: -25%;
    right: 15%;
}

.right-lower-testi-cont {
    width: 40%;
}

.steps {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.steps1 {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.step {
    position: relative;
    width: 65px;
}

.number {
    position: absolute;
    top: 28%;
    right: 35%;
}

.steps h5,
.steps1 h5 {
    font-size: 22px;
    font-weight: 800;
    line-height: 50.35px;
}

.steps p,
.steps1 p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #9E9DA2;
}

/* Testimonial End */


/* Benefit Start */
.benefit-section {
    width: 90%;
    margin: 0 auto;
}

.benefit-container>*:not(:last-child) {
    margin-bottom: 80px;
}

.benefit-container {
    margin: 100px 0;
}

.benefit-container h1 {
    text-align: center;
    font-size: 47px;
    font-weight: 800;
}

.benefit-container h1 span {
    color: #75BF7A;
}

.card {
    max-width: 1150px;
    height: 304px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 50px;
}

.card2 {
    flex-direction: row-reverse;
    margin-left: auto;
}


.benefit-left-cont div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.benefit-left-cont div h1 {
    font-size: 88px;
    color: #75BF7A;
}

.benefit-left-cont div h5 {
    font-size: 34px;
    font-weight: 600;
    line-height: 32px;

}

.benefit-left-cont p {
    color: #9E9DA2;
    font-size: 22px;
    font-weight: 500;
}

/* Benefit End */

/* Footer Start */
.footer-section {
    width: 100%;
    background: #FFFFFF;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer-uppar-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.uppar-second-div h5,
.uppar-third-div h5 {
    color: #272042;
    font-size: 22px;
    font-weight: 500;

}

.uppar-second-div p,
.uppar-third-div p {
    color: #8B8BA5;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer-lower-part {
    text-align: center;
    color: #75BF7A;
    padding: 40px 0;
    border-top: 5px solid #ECECEC;
    background-color: #FFFFFF;
}

/* Footer End */